/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&display=swap');

/* layout */
:root {
	--primary: #5e67b8;
	--error: #e7195a;
}
body {
	background: #dbdee7;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}
header {
	/* background: #fff; */
	background: linear-gradient(#fff, #dbdee7);
}
header .container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px 20px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header a {
	color: #333;
	text-decoration: none;
}
.pages {
	max-width: 1000px;
	padding: 20px;
	margin: 0 auto;
}

/* homepage */
.home {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 100px;
}
@media (max-width: 700px) {
	.home {
		grid-template-columns: none;
		grid-template-rows: 1fr auto;
	}
	.workouts {
		order: 2;
	}
	form {
		order: 1;
	}
}
.workout-details {
	background: #fff;
	border-radius: 4px;
	margin: 10px auto;
	padding: 20px;
	position: relative;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.workout-details h4 {
	margin: 0 0 10px 0;
	font-size: 1.2em;
	color: var(--primary);
}
.workout-details p {
	margin: 0;
	font-size: 0.9em;
	color: #555;
}
.workout-details span {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	background: #f1f1f1;
	padding: 6px;
	border-radius: 50%;
	color: #3333338c;
}

.workout-details span:hover {
	color: #ff4242;
}

/* new workout form */
form {
	/* border: 1px solid red; */
	min-width: 250px;
}
label,
input {
	display: block;
}
label {
	color: #0000009d;
}
input {
	padding: 10px;
	margin-top: 4px;
	margin-bottom: 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}
input:focus {
	outline: 2px solid #7d83b3;
}
form button {
	background: var(--primary);
	border: 0;
	color: #fff;
	padding: 10px;
	font-family: 'Noto Sans', sans-serif;
	border-radius: 5px;
	cursor: pointer;
}
form button:hover {
	background: #6e79c4;
}
div.error {
	padding: 10px;
	background: #ffefef;
	border: 1px solid var(--error);
	color: var(--error);
	border-radius: 4px;
	margin: 20px 0;
}
input.error {
	border: 1px solid var(--error);
}

/* navbar */
nav {
	display: flex;
	align-items: center;
}
nav a,
nav button {
	margin-left: 10px;
	background: #f0f2ff;
	color: var(--primary);
	border: 1px solid var(--primary);
	padding: 6px 10px;
	border-radius: 4px;
	font-family: 'Noto Sans', sans-serif;
	cursor: pointer;
	font-size: 1em;
}
nav button:hover {
	background: #fff;
}
.nav-hover:hover {
	background: #fff;
}

/* auth forms */
form.signup,
form.login {
	max-width: 400px;
	margin: 40px auto;
	padding: 20px;
	background: linear-gradient(#fbfcff, #f1f5ff);
	border-radius: 4px;
}
